



*{margin:0;
padding: 0;
font-family: sans-serif;}

$gold-1:#f4bd76;
$gold-2:#f6cd8f;
$gray: #ffffff80;
$gray2: #f7d9d990;
$black1: #1a1b1f;
$black2: #30353b;
$shadow: 0px 8px 8px;
$color_shadow:#00000033;


#grilla{
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "footer";
    grid-template-rows: 100px auto 100px;
    grid-template-columns: auto;
    height: 100vh;
    background-color: $gold-1;
}

#grilla1{
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "footer";
    grid-template-rows: 100px auto 100px;
    grid-template-columns: auto;
    height: 100vh;
}

header{grid-area: header;
background-color: black;}

footer{grid-area:footer;
    min-height: 70px;
    position: relative;

} 
section{grid-area: section;}



/*empieza header*/
.container{
    width: 98%;
    max-width: 1200px;
    margin: auto;
    height: 600px;
}

.logo{
    float: left;
    line-height: 75px;

    h1{color:$gold-1;
        font-weight:400; 
        font-size:24px;
        cursor:default;
}
}

.menu{
    float:right;
    line-height: 75px;
    
    a{color:$gold-2 ;
        text-decoration:none;
        display: inline-block;
        padding: 10px 15px;
        line-height:normal;
        transition: all 500ms ease;
        border-bottom: 4px  transparent ;
            &:hover{color: $gold-1;
                    border-bottom:solid $gold-1;}
            }
        }

#btn-menu{
            display: none; }

.boton{
                float:right;
                display: none;

    
label{
        color: $gold-1;
        background: $black2;
        padding:5px; 
        font-size: 14px;
        border-radius: 3px;
        cursor: pointer;}
    }
   
    
    
/*empieza section*/
.container_section{
            width: 100%;
            max-width: auto;
            margin:0 auto;
            overflow: scroll;
            padding: 0;
            height: 100vh;
            background-color:$black1;
            }

.container_section--modifier{
    background-color: $gold-1;
    height: 100vh;
    width: 100%;
    max-width:  1200px;
    margin:0 auto;
}
  
.hero__main{
        display: flex;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        overflow: hidden;
        gap: 5px;
    }
.hero__textos{
        margin-left: 100px;
        }

.mockup{
            object-fit: cover;
            width: 56%;
            max-height: 90vh;
            }

.title{
    font-size: 56px;
    font-weight: 300;
    color: #fff;
}

.title--active{
    color: var(--gold1);
    font-weight: 700;
}

.copy{
    font-size: 24px;
    color: $gray;
    text-shadow: $shadow $color_shadow;
    margin: 15px 0;
}

.copy__active{
    font-weight: 700;
}

.cta{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg,#f7ce90 0,$gold-1 100%);
    text-decoration: none;
    color: $black2;
    border: radius 6px;
    transition: height 10s,width 10s;
        &:hover{transform: scale(0,5,2);
            color: white;
            font-size: larger;
            text-align: center;}
            

}

/*empieza footer*/

.pie-pagina{

    position: relative;
    width: 100%;
    background: #000000;
    text-align: center;
    bottom: 0;
    box-shadow: 10px 0px 0px 1px
    rgba(0,0,0,4);
    margin-bottom: auto;
    height: auto;
.grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 90px;
        padding: 10px 0px;
        .box figure{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100px;
            
            }
        }

    
    } 

}




.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25;
    font-size: 20px;
}


.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;

}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:#fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
transition: all 500ms ease;
&:hover{color:$gold-1 ;}
}

.pie-pagina .grupo-2{
    background-color: #000000;
    padding:15 px 10px ;
    text-align: center;
    color:#fff
    
    
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

    

/*bodyLOGIN*/
.body{margin: 0;
    padding: 0;
    background: url(/pictures/Capa-fondo-transparente.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;}

    
    .login-box{
        width: 320px;
        height: 420px;
        background: rgb(168, 147, 99);
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 70px 30px;
    }
    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        right: 107px;
    }
    
    .login-box label{
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
    }
    
    .login-box h1{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 22px;
    }
    
    .login-box input{
        width: 100%;
        margin-bottom: 20px;
    
    }
    
    .login-box input[type="text"]{
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }
    
    .login-box input[type="password"]{
    
     border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }
    
    .login-box input[type="submit"]{
        border: none;
        outline: none;
        height: 40px;
        background: #020000;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        cursor: pointer;
    
    }
    
    .login-box a{
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        margin-left: 10px;
        
    
    }
    
    .login-box a:hover{
        color: aliceblue;
        cursor: pointer;
    }
    
    





/*SECTION DE LA PAGINA ABOUT US*/

  
    .services{
    background-color:$gold-1;
   
    
    }
    
    .subtitle{
        font-size: 42px;
       
        

    }

    h2.subtitle{
        font-size: 52px;
        color:$black1;
        margin-left: 0px;
        
    }
    span.point{color: #fff;}
    
    
    p.copy__section{
    
        color:$black1;
        margin-left: 0px;
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 60px;
    
       }

       p.copy__section1{
        color:$black2;
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 60px;
       }

.copy__section--modifier{
    text-align: center;
    margin-bottom: 32px;
        }


.container-cards{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            max-width: 100%;
            height: auto;
        }
     
.card{
            height: 500px;
            width: 25%;
            padding: 30px 10px;
            overflow: hidden;
            background:linear-gradient(180deg, #30353b 0%,#1a1b1f 100%);
            border-radius: 10px;
            position: relative;
            text-align: right;
            margin-bottom: 60px;
            box-shadow: 0 0 6px $color_shadow;

}
.card1{height: 300px;
    width: 25%;
    padding: 30px 10px;
    overflow: hidden;
    background:linear-gradient(180deg, #30353b 0%,#1a1b1f 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px $color_shadow;
}
.card__img{
         text-align: left;
            width: 95%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px 0 0 10px;
            
            }

    .cards__text{
        text-align: left;
        width:90%;
        margin: 0 auto;
    }
    p{color: #fff;
    .card__list{
        color: var(--gold2);
        font-weight:700 ;
        margin: 25px 0 12px;
        font-size: 18px;
    }}
    
    .card__title{
        font-size: 40px;
        color: #fff;
        margin-bottom: 8px;
    }
    
    .card__copy{
        color: $gray2;
        margin-bottom: 16px;
    }
    
    .card__button{
        display: block;
        background:linear-gradient(180deg,#f7ce90 0,#f48d76 100%); 
        border-radius: 6px;
        text-decoration: none;
        width: 100%;
        color: $black1;
        font-weight: 700;
        text-align: center;
        padding: 12px 0 ;
    }
    .card__button1{
        transform: translateY(20px);
        display: block;
        background:linear-gradient(180deg,#f7ce90 0,#f48d76 100%); 
        border-radius: 6px;
        text-decoration: none;
        width: 100%;
        color: $black1;
        font-weight: 700;
        text-align: center;
        padding: 12px 0 ;
    }
    
    .card__date{
        color: $gold-2;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 16px;
    
    }
    
    .container-bg{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    /*empieza projects*/



h2.subtitle--modifier{
    font-size: 52px;
    color: #000000;
    margin-left: 0px;
}

    .background{
        width: 68%;
        height:290px ;
        border-radius: 10px;
        position: relative;
        margin-bottom: 60px;
    }
    
    .background__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        opacity: 0.9;
    }
    
    .background__text{
        position: absolute;
        width: 100%;
        bottom: 150px;
        left: 15px;
        color:var(--black1);
        font-size: x-large;
        font-weight:800 ;
    
    }
    
    
    .background__title{
        font-size: 30px;
        margin-bottom: 100px;
    }
    
    
    .testimony{
        background: $gold-1;
       
    }
    
    .testimony-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }
    
    .testimony__card{
        width: 30%;
        height: 500px;
        background: linear-gradient(180deg, $black2 0%,$black1 100%);
        border-radius: 10px;
        position: relative;
        margin-bottom: 30px;
    }
    
    .testimony__img{
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
        object-position: center top;
    }
    
    .testimony__copy{
        position: absolute;
        bottom: 20px;
        left: 5%;
        width: 90%;
        background:linear-gradient(180deg,$black2 0%,$black1 100%);
        color:#fff;
        border-radius: 10px;
        box-shadow: $shadow $color_shadow;
        padding: 15px 8px;
        display: flex;
        align-items: center;
    }
    
    .testimony__copy--modifier{
        background: none;
        box-shadow: none;
    }
    
    
    .testimony__logo{
        font-size: 40px;
        margin-right:15px ;
        display: inline-block;
        
    }
    .testimony__name{
        font-size: 24px;
        line-height: 28px;
    }
    
    .testimony__position{
        color: $gray;
    }
    
    .testimony__text{
        padding: 40px 0;
        width: 90%;
        margin:0 auto;
        color: #fff;
    }
    .motley__logo{
       
        width: 80px;
        
        margin-bottom: 20px;
        
    
    }
    
    .testimony__history{
        font-size: 21px;
        font-weight: 300;
    }
    
    .logo--picture{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius:50% ;
        object-position: center top;
    }
    .testimony__info{
        width: 70%;
    
    }

    .check{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 auto;
    
    }
    
    .check__item{
        width: 30%;
        padding-right: 10px;
        display: flex;
        border-right: 2px solid $black2;
    }
    
    .bx-check{
        background:linear-gradient(180deg, $black2 0%,$black1 100%);
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        margin-right: 20px;
        color: #fff;
        border-radius: 50%;
        font-size: 40px;
    
    }
    
    .check__number{
        font-weight: 700;
    }
    
    .check__copy{
        font-weight: 300;
    
    }
    
    .newsletter{
        width: 60%;
        margin: 0 auto;
        margin-top: 40px;
        height: auto;
        font-family: inherit;
        position:relative;
        border-radius: 6px;
    }
    
    .newsletter--modifier{
        margin: 0;
        width: 80%;
    }
    
    .newsletter__input{
        width: 100%;
        height: 100%;
        padding: 22px;
        padding: 22px 10px;
        outline: none;
        font-family: inherit;
        border-radius: 6px;
        border: 1px solid $black1;
    
    }
    
    .newsletter__submit{
        position: absolute;
        right: 8px;
        top: 10%;
        height: 80%;
        background:linear-gradient(180deg, $black2 0%,$black1 100%) ;
        color: #fff;
        padding:0 15px ;
        border: none;
        border: radius 6px;
        font-family: inherit;
        font-weight: 700;
        cursor: pointer;
    }

    section.projects_container{background-color: $gold-1;
    width: 98%;
max-width: 1200px;
margin: 0 auto;}

 @media screen and (max-width:480px){
        .menu{
            position: absolute;
            background:$black1;
            width: 100%;
            height: 250git covh;
            top: 60px;
            left: 0;
            transition: all 500ms ease;
            transform: translateX(-100%);}
 
            #btn-menu:checked ~ .menu{
                transform: translateX(0%);
                z-index: 1;
                height: 250vh;
            }
 
            .menu a{
                display: block;
                margin-top: 10px;}
                
              .boton{display: block; }
            
         
         .menu a:hover{
             display:block;
             color:  rgb(222, 233, 221);
          border-bottom: 4px solid  rgb(3, 10, 2);
          
 
         }
        article.container-cards{
            margin-top: 0px;
        }
 
        .hero__main{display: flex;
            flex-direction: column-reverse;
        }
      .hero__textos{display: flex;
        flex-direction: column;
        margin-left: 0px;}
    
    .mockup{width: 80%;}

    .services .card{
            width: 80%;
        }
    
.background{
        width: 95%;
       }
.card{
           width: 95%;
       }
       
.pie-pagina .grupo-1{
           grid-gap: 15px;}
.cta{width: 80px;
    padding:10px 20px;
}
h2.subtitle{
    margin-left: 0px;
    font-size: 40px;
}
p.copy_section1{
    margin-top: 10px;
    margin-left: 0;
}

.container-bg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.background__img{
    width: 100%;
}
p.copy__section{
    margin-left: 0;
}
#grilla1{
    height: 240vh;
    background-color: $gold-1;
}
.testimony__card{
    height: 450px;
    width: 80%;
margin: 20px auto;}

.card{
    width: 80%;
    margin: 20px auto;
    height: 435px;
}
.card__button{ transform: translateY(65px);}

.container_section--modifier{height: 230vh;}
}