*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

:root{
    --gold1: #f4bd76;
    --gold2: #f6cd8f;
    --gray: #ffffff80;
    --gray2: #f7d9d990;
    --black1: #1a1b1f;
    --black2: #30353b;
    --shadow: 0px 8px 8px;
    --color_shadow:#00000033;


}
    











#grilla{
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "footer"
    ;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: auto ;
    height: 100vh;
}


header{grid-area: header;
background-color: black;}
footer{grid-area: footer;
min-height: 70px;
position: relative;
margin-top: 0px;
}
section{grid-area: section;}



/*empieza header*/


.header{
   
    width: 100%;
    height:75px;
    
    position: fixed;
    z-index:10;
    padding-top:0;
    padding-left:0;
    box-shadow: 0px 1px 10px
     rgba(0,0,0,0,4);}

     .container{
         width: 98%;
         max-width: 1200px;
         margin:auto;

     }

     .logo{
         float:left;
         line-height: 75px;
     }

     .logo h1{
         color: var(--gold1);
         font-weight:400; 
         font-size:24px;
         cursor:default;
     }

     .menu{
         float: right;
         line-height: 75px;

     }
     .menu a{
         color:var(--gold2);
         text-decoration:none;
         display: inline-block;
         padding: 10px 15px;
         line-height:normal;
         transition: all 500ms ease;
         border-bottom: 4px solid transparent ;}

    
     .menu a:hover{
         color:  var(--gold1);
         border-bottom: var(--gold1);}


              /* estilos al boton del menu*/
     #btn-menu{
        display: none; }

        .boton{
            float:right;
            display: none;}
      

        .boton label{
            color: var(--black1);
            background: var(--gold1);
            padding:5px; 
            font-size: 14px;
            border-radius: 3px;
            cursor: pointer;
   
        }



/*empieza section*/

.container_section{
    width: 100%;
    max-width: auto;
    margin:0 auto;
    overflow: hidden;
    padding: 50px 0;
    height:auto;
    background-color: #1a1b1f;;
    }

    
    .hero__main{
        display: flex;
        height: 80vh;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        overflow: hidden;
    }
.hero__textos{
margin-left: 100px;
}
    .mockup{
        object-fit: cover;
        width: 56%;
        max-height: 90vh;
        }
    .title{
        font-size: 56px;
        font-weight: 300;
        color: #fff;
    }
    
    .title--active{
        color: var(--gold1);
        font-weight: 700;
    }
    
    .copy{font-size: 24px;
        color: var(--gray);
        text-shadow: var(--shadow)  var(--color_shadow);
        margin: 15px 0;
    }
    
    .copy__active{
        font-weight: 700;
    }
    
    .cta{
        padding: 20px 30px;
        display: inline-block;
        background: linear-gradient(180deg,#f7ce90 0,#f48d76 100%);
        text-decoration: none;
        color: var(--black2) #00000033;
        border: radius 6px;
        transition: height 10s,width 10s;
    }

    .cta:hover{
transform: scale(0,5,2);
color: white;
font-size: larger;
text-align: center;}

    /*empieza footer*/

    .pie-pagina{

        position: relative;
        width: 100%;
        background: #000000;
        text-align: center;
        bottom: 0;
        box-shadow: 10px 0px 0px 1px
         rgba(0,0,0,0,4);
         margin-bottom: auto;
         height: auto;
       
    
    }
    .pie-pagina .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 90px;
        padding: 10px 0px;
    
    } 
    
    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .pie-pagina .grupo-1 .box figure img{
        width: 100px;
    
    }
    
    .pie-pagina .grupo-1 .box h2{
        color: #fff;
        margin-bottom: 25;
        font-size: 20px;
    }
    
    
    .pie-pagina .grupo-1 .box p{
        color: #efefef;
        margin-bottom: 10px;
    
    }
    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color:#fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
    transition: all 500ms ease;
    }
    
    .pie-pagina .grupo-1 .red-social a:hover{
        color: rgb(30, 255, 0);
    }
    
    .pie-pagina .grupo-2{
        background-color: #000000;
        padding:15 px 10px ;
        text-align: center;
        color:#fff
    }
    
    .pie-pagina .grupo-2 small{
        font-size: 15px;
    }












    /*SECTION DE LA PAGINA ABOUT US*/

    .services{
        background: #ccbebe;
    
    }
    
    .subtitle{
        font-size: 42px;
        

    }

    h2.subtitle{
        color: #fff;
        margin-left: 68px;
    }

    span.point{color: var(--gold1);}
    
   
    
    
    .copy__section{
        color: var(--gold2);
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 60px;
    }
    p.copy_section{
        color: var(--gold2);
        margin-left: 68px;
    }
    .copy__section--modifier{
        text-align: center;
        margin-bottom: 32px;
    }
    
    .container-cards{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 100%;
    }
    
    .card{
        width: 25%;
        padding: 30px 10px;
        overflow: hidden;
        background:linear-gradient(180deg, #30353b 0%,#1a1b1f 100%);
        border-radius: 10px;
        position: relative;
        text-align: right;
        margin-bottom: 60px;
        box-shadow: 0 0 6px var(--color_shadow);
    
    }
    
    .card__img{
        text-align: left;
        width: 95%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 0 0 10px;
    
    }
    
    .cards__text{
        text-align: left;
        width:90%;
        margin: 0 auto;
    }
    
    .card__list{
        color: var(--gold2);
        font-weight:700 ;
        margin: 25px 0 12px;
        font-size: 18px;
    }
    
    .card__title{
        font-size: 40px;
        color: #fff;
        margin-bottom: 8px;
    }
    
    .card__copy{
        color: var(--gray2);
        margin-bottom: 16px;
    }
    
    .card__button{
        display: block;
        background:linear-gradient(180deg,#f7ce90 0,#f48d76 100%); 
        border-radius: 6px;
        text-decoration: none;
        width: 100%;
        color: var(--black1);
        font-weight: 700;
        text-align: center;
        padding: 12px 0 ;
    }
    
    .card__date{
        color: var(--gold2);
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 16px;
    
    }
    
    .container-bg{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    
/*empieza projects*/



h2.subtitle--modifier{
    font-size: 42px;
    color: #000000;
}

    .background{
        width: 68%;
        height:290px ;
        border-radius: 10px;
        position: relative;
        margin-bottom: 60px;
    }
    
    .background__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        opacity: 0.5;
    }
    
    .background__text{
        position: absolute;
        width: 100%;
        bottom: 150px;
        left: 15px;
        color:var(--black1);
        font-size: x-large;
        font-weight:800 ;
    
    }
    
    
    .background__title{
        font-size: 24px;
        margin-bottom: 4px;
    }
    
    
    .testimony{
        background: #fafafa;
    
    }
    
    .testimony-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }
    
    .testimony__card{
        width: 30%;
        height: 500px;
        background: linear-gradient(180deg, #30353b 0%,#1a1b1f 100%);
        border-radius: 10px;
        position: relative;
        margin-bottom: 30px;
    }
    
    .testimony__img{
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
        object-position: center top;
    }
    
    .testimony__copy{
        position: absolute;
        bottom: 20px;
        left: 5%;
        width: 90%;
        background:linear-gradient(180deg, #30353b 0%,#1a1b1f 100%);
        color:#fff;
        border-radius: 10px;
        box-shadow: var(--shadow) var(--color_shadow);
        padding: 15px 8px;
        display: flex;
        align-items: center;
    }
    
    .testimony__copy--modifier{
        background: none;
        box-shadow: none;
    }
    
    
    .testimony__logo{
        font-size: 40px;
        margin-right:15px ;
        display: inline-block;
        
    }
    .testimony__name{
        font-size: 24px;
        line-height: 28px;
    }
    
    .testimony__position{
        color: var(--gray);
    }
    
    .testimony__text{
        padding: 40px 0;
        width: 90%;
        margin:0 auto;
        color: #fff;
    }
    .google__logo{
        width: 80px;
        
        margin-bottom: 20px;
        
    
    }
    
    .testimony__history{
        font-size: 21px;
        font-weight: 300;
    }
    
    .logo--picture{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius:50% ;
        object-position: center top;
    }
    .testimony__info{
        width: 70%;
    
    }
    
    
    /*check*/
    /*
    .check{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 auto;
    
    }
    
    .check__item{
        width: 30%;
        padding-right: 10px;
        display: flex;
        border-right: 2px solid var(--black2);
    }
    
    .bx-check{
        background:linear-gradient(180deg, #30353b 0%,#1a1b1f 100%);
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        margin-right: 20px;
        color: #fff;
        border-radius: 50%;
        font-size: 40px;
    
    }
    
    .check__number{
        font-weight: 700;
    }
    
    .check__copy{
        font-weight: 300;
    
    }
    
    .newsletter{
        width: 60%;
        margin: 0 auto;
        margin-top: 40px;
        height: auto;
        font-family: inherit;
        position:relative;
        border-radius: 6px;
    }
    
    .newsletter--modifier{
        margin: 0;
        width: 80%;
    }
    
    .newsletter__input{
        width: 100%;
        height: 100%;
        padding: 22px;
        padding: 22px 10px;
        outline: none;
        font-family: inherit;
        border-radius: 6px;
        border: 1px solid var(--black1)
    
    }
    
    .newsletter__submit{
        position: absolute;
        right: 8px;
        top: 10%;
        height: 80%;
        background:linear-gradient(180deg, #30353b 0%,#1a1b1f 100%) ;
        color: #fff;
        padding:0 15px ;
        border: none;
        border: radius 6px;
        font-family: inherit;
        font-weight: 700;
        cursor: pointer;
    }
*/
    @media screen and (max-width:390px){
        .menu{
            position: absolute;
            background:var(--black1);
            width: 100%;
            height: 100vh;
            top: 60px;
            left: 0;
            transition: all 500ms ease;
            transform: translateX(-100%);}
 
            #btn-menu:checked ~ .menu{
                transform: translateX(0%);
            }
 
            .menu a{
                display: block;
                margin-top: 10px;}
              .boton{display: block; }
            
         
         .menu a:hover{
             display:block;
             color:  rgb(222, 233, 221);
          border-bottom: 4px solid  rgb(3, 10, 2);
          
 
         }
 
        .hero__main{display: flex;
            flex-direction: column-reverse;
        }
      .hero__textos{display: flex;
        flex-direction: column;
        margin-left: 0px;}
    
    .mockup{width: 80%;}

    .services .card{
            width: 95%;
        }
    
.background{
        width: 95%;
       }
.card{
           width: 95%;
       }
       
.pie-pagina .grupo-1{
           grid-gap: 15px;}
.cta{width: 80px;
    padding:10px 20px;
}
h2.subtitle{
    margin-left: 0px;
    font-size: 40px;
}
p.copy_section{
    margin-top: 10px;
    margin-left: 0;
}
        }
    